.detail-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.last-session, .this-session, h3 {
  background-color: #A11730;
  color: #eee;
  padding: 1%;
  text-align: center;
  border-radius: 15px;
}


label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  /*color: #607D8B;*/
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  margin-left: 5%;
}

/*change hover color*/
button:hover {
  background-color: red;
  color: #eee;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
