<!-- <h2>Day {{daysSince()}}: {{today | date: 'yMMMMEEEEd'}}</h2> -->
<div class="sessions-container operating grid-pad">
	<div *ngFor="let session of sessionDay" [class.hidden]= "session.year === 2015">
		<p [class.selected]="session === selectedSession" (click)="onSelect(session)">
			<span class="badge">Day {{session.day}}</span>{{session.date}}
		</p>
	</div>
</div>
<!-- <div *ngIf="thisSelectedSession">
  <h2>
    More about {{thisSelectedSession.date}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->
