<!-- <h2>Day {{daysSince()}}: {{today | date: 'yMMMMEEEEd'}}</h2> -->
<ul class="operating">
	<li *ngFor="let session of sessionDay" [class.hidden]= "session.year === 2015">
		<div [class.selected]="session === selectedSession" (click)="onSelect(session)">
			<span class="badge">Day: {{session.day}}</span>{{session.date}}
		</div>
	</li>
</ul>
<!-- <div *ngIf="thisSelectedSession">
  <h2>
    More about {{thisSelectedSession.date}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->
